<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DicodingStoryApp"
        tools:targetApi="34">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBhwteulbe9cXg8ukCI6IEIWO2mvmPkZSI" />

        <activity
            android:name=".ui.maps.MapsActivity"
            android:exported="false"
            android:label="@string/title_activity_maps" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".main.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.auth.LoginActivity"
            android:exported="true"
            android:label="@string/login_title"
            android:theme="@style/Theme.DicodingStoryApp" />
        <activity
            android:name=".ui.auth.RegisterActivity"
            android:exported="true"
            android:label="@string/register_title"
            android:theme="@style/Theme.DicodingStoryApp" />
        <activity
            android:name=".ui.home.HomeActivity"
            android:exported="true"
            android:label="@string/home_title"
            android:theme="@style/Theme.DicodingStoryApp" />
        <activity
            android:name=".ui.home.AddStoryActivity"
            android:exported="true"
            android:label="@string/add_story_title"
            android:theme="@style/Theme.DicodingStoryApp" />
        <activity
            android:name=".ui.home.StoryDetailActivity"
            android:exported="true"
            android:label="@string/story_detail_title"
            android:theme="@style/Theme.DicodingStoryApp" />
    </application>
</manifest>
